In [13]:
import pandas as pd

In [14]:
title_basic = pd.read_table("title.basics.tsv", sep="\t")
title_ratings = pd.read_table("title.ratings.tsv", sep="\t")

C:\Users\smend\AppData\Local\Temp\ipykernel_22148\3206124655.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basic = pd.read_table("title.basics.tsv", sep="\t")

In [15]:
print(title_basic.shape)
print(title_ratings.shape)

(10295877, 9)
(1368573, 3)

In [16]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2007
1  tt0000002            5.8       269
2  tt0000003            6.5      1911
3  tt0000004            5.5       178
4  tt0000005            6.2      2692

In [17]:
title_basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [18]:
title_basic["startYear"].unique()

array(['1894', '1892', '1893', '1895', '1896', '1898', '1897', '1900',
       '1899', '1901', '1902', '1903', '1905', '1904', '1912', '1907',
       '1906', '1908', '1910', '1909', '\\N', '1990', '1914', '1911',
       '1913', '1915', '1919', '1916', '1917', '1918', '1936', '1925',
       '1920', '1922', '1921', '1923', '1924', '1928', '2019', '2021',
       '1926', '1927', '1929', '2000', '1993', '1935', '1930', '1942',
       '1934', '1931', '1932', '1939', '1937', '1933', '1950', '1938',
       '1951', '1945', '1946', '1940', '1944', '1949', '1947', '1941',
       '1952', '1970', '1957', '1943', '1959', '1948', '2001', '1994',
       '1953', '1954', '1965', '1983', '1980', '1973', '1961', '1995',
       '1955', '1962', '1958', '1956', '1960', '1977', '1964', '2012',
       '1967', '1968', '1963', '1988', '1986', '1971', '1969', '1972',
       '1966', '1976', '1979', '2016', '2020', '1974', '1978', '1981',
       '1975', '1989', '2014', '1985', '1987', '2010', '2018', '1996',
       '1984', '1992', '2023', '1982', '1991', '2022', '2008', '1999',
       '2005', '2003', '1998', '2002', '1997', '2009', '2004', '2017',
       '2006', '2013', '2015', '2007', '2011', '1891', '2024', '1888',
       '1890', '1889', '2025', '2026', '2027', '1878', '2030', '2028',
       '1877', '1882', '1881', '1887', '2029', '1874', '1883', '2031',
       '1885'], dtype=object)

In [19]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2007
1  tt0000002            5.8       269
2  tt0000003            6.5      1911
3  tt0000004            5.5       178
4  tt0000005            6.2      2692

In [20]:
title_basic.titleType.unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

Keeping only movies

In [21]:
movies_basic = title_basic[title_basic["titleType"]=="movie"][["tconst", "originalTitle", "startYear", "genres", "runtimeMinutes"]].reset_index(drop=True)

In [22]:
movies_complete = movies_basic.merge(title_ratings, on=["tconst"], how="left")

In [23]:
movies_complete.shape

(662293, 7)

In [24]:
movies_complete.head()

,tconst,originalTitle,startYear,genres,runtimeMinutes,averageRating,numVotes
0,tt0000009,Miss Jerry,1894,Romance,45,5.3,207.0
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",100,5.3,484.0
2,tt0000502,Bohemios,1905,\N,100,4.1,15.0
3,tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",70,6.0,855.0
4,tt0000591,L'enfant prodigue,1907,Drama,90,5.0,21.0

In [25]:
movies_complete = movies_complete[~(movies_complete.startYear=="\\N")].reset_index(drop=True) #to make filtering records easier

In [26]:
movies_complete["startYear"] = movies_complete["startYear"].astype(int)

In [27]:
movies_subset = movies_complete[(movies_complete["startYear"]>2017) & (movies_complete["startYear"]<2020)]

In [28]:
movies_subset.shape

(37822, 7)

In [29]:
movies_subset

,tconst,originalTitle,startYear,genres,runtimeMinutes,averageRating,numVotes
5528,tt0011801,Tötet nicht mehr,2019,"Action,Crime",\N,NaN,NaN
50323,tt0069049,The Other Side of the Wind,2018,Drama,122,6.7,7873.0
77590,tt0111414,A Thin Life,2018,Comedy,75,NaN,NaN
91322,tt0137818,Housesitter: The Night They Saved Siegfried's ...,2018,\N,95,4.8,35.0
105668,tt0172182,Blood Type,2018,"Comedy,Drama,Mystery",90,6.7,117.0
...,...,...,...,...,...,...,...
568579,tt9916132,The Mystery of a Buryat Lama,2018,"Biography,Documentary,History",94,NaN,NaN
568580,tt9916160,Drømmeland,2019,Documentary,72,6.3,51.0
568582,tt9916170,O Ensaio,2019,Drama,51,7.0,7.0
568587,tt9916428,Hong xing zhao yao Zhong guo,2019,"Adventure,History,War",\N,3.5,17.0
568588,tt9916538,Kuambil Lagi Hatiku,2019,Drama,123,8.6,7.0

In [30]:
movies_subset[movies_subset.originalTitle.str.contains("Avengers")]

,tconst,originalTitle,startYear,genres,runtimeMinutes,averageRating,numVotes
466803,tt4154756,Avengers: Infinity War,2018,"Action,Adventure,Sci-Fi",149,8.4,1165017.0
466804,tt4154796,Avengers: Endgame,2019,"Action,Adventure,Drama",181,8.4,1224761.0
509499,tt6172666,Avengers of Justice: Farce Wars,2018,"Action,Comedy,Family",87,2.4,708.0
554178,tt8875872,Avengers: Reassembled,2018,Sci-Fi,52,6.7,13.0

In [31]:
movies_subset.to_feather("movies_subset.feather")
movies_subset.to_csv("movies_subset.csv", index=False)

# Partition Analysis

In [140]:
import pandas as pd
import regex as re
from transformers import LlamaTokenizer

In [141]:
df = pd.read_csv("2_movies_subset.csv")

In [142]:
template = {"originalTitle": "Movie Name",
            "short_desc": "Description",
            "startYear": "Release Year",
            "runtimeMinutes": "Runtime",
            "genres": "Genre",
            "averageRating": "Rating",
            "numVotes":"Votes"}

In [145]:
df.loc["data"] = ""

In [146]:
for i, row in df.iterrows():
    data = ""
    if not pd.isnull(row["long_desc"]):
        if len(row["long_desc"].split())<=300:
            long_desc = re.sub(r"—.{,40}$", "", row["long_desc"])
            row["short_desc"] = long_desc.strip()
    for column, desc in template.items():
        if row[column] not in ["\\N", "NaN"] and not pd.isnull(row[column]):
            data += f"{template[column]}: {row[column]} \n"
    df.loc[i, "data"] = data.strip()

C:\Users\smend\AppData\Local\Temp\ipykernel_25336\1715024715.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Movie Name: Round Earth Test
Release Year: 2019
Genre: Documentary' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[i, "data"] = data.strip()

In [147]:
df.head(10)

,tconst,originalTitle,startYear,genres,runtimeMinutes,averageRating,numVotes,short_desc,long_desc,data
0,tt10183410,Round Earth Test,2019,Documentary,\N,NaN,NaN,NaN,NaN,Movie Name: Round Earth Test \nRelease Year: 2...
1,tt10183542,Firincinin Karisi,2019,Comedy,91,2.9,969.0,"Ferdane, a naive woman, has an ordinary life w...",NaN,Movie Name: Firincinin Karisi \nDescription: F...
2,tt10183608,The Unbreakable,2018,Animation,52,NaN,NaN,The second addition to the WPU is an origin st...,The second addition to the WPU is an origin st...,Movie Name: The Unbreakable \nDescription: The...
3,tt10183616,Yves,2019,"Comedy,Sci-Fi",107,5.5,635.0,"Jerem', an aspiring rapper, gets a smart fridg...",NaN,"Movie Name: Yves \nDescription: Jerem', an asp..."
4,tt10183664,Leela,2019,Drama,\N,NaN,NaN,NaN,NaN,Movie Name: Leela \nRelease Year: 2019 \nGenre...
5,tt10183674,"Daniel Darc, Pieces of My Life",2019,Documentary,105,7.1,34.0,NaN,NaN,"Movie Name: Daniel Darc, Pieces of My Life \nR..."
6,tt10183682,Kuttymama,2019,"Comedy,Drama,Family",134,4.8,130.0,After retiring from military service kuttymama...,NaN,Movie Name: Kuttymama \nDescription: After ret...
7,tt10183728,The Goat Who Climbed to Heaven,2019,Documentary,112,6.6,11.0,"Poets, musicians and thinkers met at the ""Kaza...",NaN,Movie Name: The Goat Who Climbed to Heaven \nD...
8,tt10183776,Pariisin prinssi,2019,Documentary,58,5.5,7.0,"A film about Princesse, a 9-year-old Camerooni...","A film about Princesse, a 9-year-old Camerooni...",Movie Name: Pariisin prinssi \nDescription: A ...
9,tt10183814,Life Is a Belief,2018,Documentary,106,NaN,NaN,NaN,NaN,Movie Name: Life Is a Belief \nRelease Year: 2...

In [148]:
example = df.iloc[20]

In [149]:
print(example["data"])

Movie Name: In Deep Water
Description: Interviews with the producers and actors and in depth interview with the author on the subject of drugs, alcohol, smoking and sex.
Release Year: 2019
Runtime: 60
Genre: Reality-TV

In [150]:
tokenizer = LlamaTokenizer.from_pretrained("openlm-research/open_llama_3b_v2")

In [151]:
input_ids = tokenizer(df["data"].tolist())["input_ids"]
pd.Series(map(len, input_ids)).describe()

count    501.000000
mean      95.405190
std       60.406999
min       17.000000
25%       56.000000
50%       89.000000
75%      115.000000
max      451.000000
dtype: float64

## Multiple Files

In [6]:
from functools import reduce
import os
import pandas as pd
import regex as re
from transformers import OpenAIGPTTokenizer, LlamaTokenizer

In [7]:
input_dir = "datasets/movie datasets/imdb"

In [8]:
files = [os.path.join(input_dir, filename) for filename in os.listdir(input_dir) if filename.endswith('_movies_subset.csv')]

In [9]:
df_complete = reduce(lambda x,y: pd.concat([x,y], axis=0, ignore_index=True), map(pd.read_csv, files))

In [10]:
df_complete.shape

(16500, 9)

In [11]:
template = [
            # "originalTitle": "Movie Name",
            ("short_desc", "Description"),
            ("startYear", "Release Year"),
            ("runtimeMinutes", "Runtime(in minutes)"),
            ("genres", "Genre"),
            ("averageRating", "Rating"),
            ("numVotes","Votes")]

In [12]:
df_complete["data"] = ""

In [13]:
df_complete.iloc[0]

tconst                                                    tt0011801
originalTitle                                      Tötet nicht mehr
startYear                                                      2019
genres                                                 Action,Crime
runtimeMinutes                                                   \N
averageRating                                                   NaN
numVotes                                                        NaN
short_desc        In Russia's revolution, a violinist 's son die...
long_desc                                                       NaN
data
Name: 0, dtype: object

In [14]:
df_complete.iloc[0].short_desc

"In Russia's revolution, a violinist 's son dies,the father is jailed for assaulting the governor. Years later, the violinist's daughter wants to marry the son of the man who sentenced her father.A tragic fate awaits her new husband."

In [15]:
for i, row in df_complete.iterrows():
    data = ""
    if not pd.isnull(row["long_desc"]):
        if len(row["long_desc"].split())<=300:
            long_desc = re.sub(r"—.{,40}$", "", row["long_desc"])
            row["short_desc"] = long_desc.strip()
    for column, desc in template:
        if row[column] in ["\\N", "NaN"]:
            continue
        if pd.isnull(row[column]):
            continue
        data += f"{desc}: {row[column]} \n"
    df_complete.at[i, 'data',] = data.strip()

In [16]:
print(df_complete.iloc[0].data)

Description: In Russia's revolution, a violinist 's son dies,the father is jailed for assaulting the governor. Years later, the violinist's daughter wants to marry the son of the man who sentenced her father.A tragic fate awaits her new husband.
Release Year: 2019
Genre: Action,Crime

In [17]:
df_complete.head()

,tconst,originalTitle,startYear,genres,runtimeMinutes,averageRating,numVotes,short_desc,long_desc,data
0,tt0011801,Tötet nicht mehr,2019,"Action,Crime",\N,NaN,NaN,"In Russia's revolution, a violinist 's son die...",NaN,"Description: In Russia's revolution, a violini..."
1,tt0069049,The Other Side of the Wind,2018,Drama,122,6.7,7873.0,At a media-swamped party to celebrate his 70th...,NaN,Description: At a media-swamped party to celeb...
2,tt0111414,A Thin Life,2018,Comedy,75,NaN,NaN,A lonely man on the run is trapped inside a ho...,NaN,Description: A lonely man on the run is trappe...
3,tt0137818,Housesitter: The Night They Saved Siegfried's ...,2018,\N,95,4.8,35.0,"Andy, an idealist medical student with a serio...","Andy, an idealist medical student with a serio...","Description: Andy, an idealist medical student..."
4,tt0172182,Blood Type,2018,"Comedy,Drama,Mystery",90,6.7,117.0,"During a frantic police car chase, a fleeing T...",NaN,Description: During a frantic police car chase...

In [18]:
df_complete.shape

(16500, 10)

In [19]:
openai_tokenizer = OpenAIGPTTokenizer.from_pretrained("openai-gpt")

ftfy or spacy is not installed using BERT BasicTokenizer instead of SpaCy & ftfy.

In [20]:
input_ids = openai_tokenizer(df_complete["data"].tolist())["input_ids"]
pd.Series(map(len, input_ids)).describe()

Token indices sequence length is longer than the specified maximum sequence length for this model (699 > 512). Running this sequence through the model will result in indexing errors

count    16500.000000
mean        57.065879
std         55.279378
min          5.000000
25%         16.000000
50%         49.000000
75%         76.000000
max        699.000000
dtype: float64

In [21]:
sum(map(len, input_ids))

941587

In [22]:
llama_tokenizer = LlamaTokenizer.from_pretrained("meta-llama/Llama-2-7b", token="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")

You are using the default legacy behaviour of the <class 'transformers.models.llama.tokenization_llama.LlamaTokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thouroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [23]:
input_ids = llama_tokenizer(df_complete["data"].tolist())["input_ids"]
pd.Series(map(len, input_ids)).describe()

count    16500.000000
mean        76.534485
std         65.401292
min          9.000000
25%         26.000000
50%         68.000000
75%        103.000000
max        620.000000
dtype: float64

In [24]:
sum(map(len, input_ids))

1262819

In [25]:
df_complete_desc = df_complete[~df_complete["short_desc"].isna()].reset_index(drop=True)

In [28]:
df_complete_desc.shape

(10003, 10)

In [27]:
df_complete_desc.to_feather(os.path.join(input_dir,"movie_complete_desc.feather"))
sample_complete_desc = df_complete_desc.sample(5_000).reset_index(drop=True)
sample_complete_desc.to_feather(os.path.join(input_dir,"movie_sample_desc.feather"))
sample_complete_desc.to_csv(os.path.join(input_dir,"movie_sample_desc.csv"), index=False)

# Cohere Output Analysis

In [2]:
import pandas as pd
import os

In [3]:
input_dir = "datasets/movie datasets/imdb"

In [4]:
df = pd.read_feather(os.path.join(input_dir, "movie_sample_desc_4.feather"))

In [5]:
df.head()

,tconst,originalTitle,data,cohere_prompt,cohere_op
2000,tt21843436,The Perfect Crime,Description: Three disgruntled workers decide ...,### Instruction\nYou are provided with details...,"Certainly, here are 10 question-answer pairs ..."
2001,tt10895842,Mayuran,Description: A college student locks horns wit...,### Instruction\nYou are provided with details...,"Certainly, here are 10 question-answer pairs ..."
2002,tt11182546,The Desert Project,Description: Ida and her friend Rebecca return...,### Instruction\nYou are provided with details...,"Certainly, here are 10 question-answer pairs ..."
2003,tt2509730,Portugal Não Está à Venda,Description: The hypochondriac Sebastião and h...,### Instruction\nYou are provided with details...,Here are 10 question-answer pairs about the m...
2004,tt27494806,Romo,Description: This film tells the story of rheu...,### Instruction\nYou are provided with details...,"Sure, here are 10 question-answer pairs about..."

In [6]:
df.head()[["originalTitle", "cohere_op"]].to_excel("cohere_op_sample.xlsx", index=False)

In [8]:
df.iloc[3]["cohere_op"]

' Here are 10 question-answer pairs about the movie Portugal Não Está à Venda:\n```json\n[\n    {\n        "question": "What is the name of the movie that depicts the funny misadventures of Sebasti\\u00e3o and his family as they try to prevent the sale of Portugal to other countries?",\n        "answer": "Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda"\n    },\n    {\n        "question": "When was Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda released?",\n        "answer": "2019"\n    },\n    {\n        "question": "What is the genre of Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda?",\n        "answer": "Comedy"\n    },\n    {\n        "question": "How many minutes is the movie Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda running for?",\n        "answer": "99 minutes"\n    },\n    {\n        "question": "What is the rating of Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda?",\n        "answer": "2.9"\n    },\n    {\n        "question": "How many votes does Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda have?",\n        "answer": "123.0"\n    },\n    {\n        "question": "Does Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda have any sequels?",\n        "answer": "No"\n    },\n    {\n        "question": "Who are the main characters in Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda?",\n        "answer": "Sebasti\\u00e3o and his family"\n    },\n    {\n        "question": "What is the plot summary of Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda?",\n        "answer": "The comedy movie Portugal N\\u00e3o Est\\u00e1 \\u00e0 Venda (which translates to Portugal Is Not For Sale) follows a hypochondriac man named Sebast'